<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Banking Analysis</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="sidebar">
		<a href="/home">Home</a>
		<a href="/upload">Upload Data</a>
		<a href="/DataInsight">View Data Insights</a>
		<a href="/logout">Logout</a>
	</div>

	<div class="content">
		<div class="inner">
		  <div class="button-container">
			<a class="button" href="http://192.168.0.117:3000/goto/03_6rBb4k?orgId=1">Historical Analysis</a>
			<a class="button" href="http://192.168.0.117:3000/goto/zofzjBbVk?orgId=1">Current Analysis</a>
		  </div>
		</div>
	  </div>
</body>
</html>
